
.options-holder
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background: violet;
    padding: 5px;
    border-radius: 10px;
}

.correct-option
{
    margin: 0px 20px 0px 5px;
}

.incorrect-option-1
{
    margin: 0px 20px 0px 5px;
}

.incorrect-option-2
{
    margin: 0px 20px 0px 5px;
}

.incorrect-option-3
{
    margin: 0px 20px 0px 5px;
}
    
.question
{
    margin: 5px;
}

.button-container
{
    display: flex;
    justify-content: center;
}

.submit-button
{
    margin: 30px;
    border: 0px;
    font-size: 20px;
    background: rgba(252, 123, 48, 0.8);
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                 inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.submit-button:hover
{
    background: rgb(252, 123, 48);
}

.submit-button:active
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}